################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SparseNeuronalNetworkInferenceEngine.slnx/v18
/.vs/SparseNeuronalNetworkInferenceEngine.slnx/FileContentIndex
/SparseNeuronalNetworkInferenceEngine/obj
/SparseNeuronalNetworkInferenceEngine/bin/Debug/net10.0
/.vs/SparseNeuronalNetworkInferenceEngine.slnx/DesignTimeBuild
/Math.Tensor/bin/Debug/net10.0
/Math.Tensor/obj
/Meth.Tensor.Tests/bin/Debug/net10.0
/Meth.Tensor.Tests/obj
/.vs
/SparseNeuralNetworkInferenceEngine/bin/Debug/net10.0
/SparseNeuralNetworkInferenceEngine/obj
/SparseNeuralNetworkInferenceEngine.Engine/bin/Debug/net10.0
/SparseNeuralNetworkInferenceEngine.Engine/obj
/SparseNeuralNetworkInferenceEngine.General/bin/Debug/net10.0
/SparseNeuralNetworkInferenceEngine.General/obj
/SparseNeuralNetworkInferenceEninge.Engine.Tests/bin/Debug/net10.0
/SparseNeuralNetworkInferenceEninge.Engine.Tests/obj
/SparseNEuronalNetworkInferenceEngine.Engine/obj
/SparseNeuralNetworkInferenceEngine.HardwareAcceleration/obj
/SparseNeuralNetworkInferenceEngine.HardwareAcceleration/bin/Debug/net10.0
/Meth.Tensor.Tests/bin/x64/Debug/net10.0
/SparseNeuralNetworkInferenceEngine/bin/x64/Debug/net10.0
/SparseNeuralNetworkInferenceEngine.Engine/bin/x64/Debug/net10.0
/SparseNeuralNetworkInferenceEngine.General/bin/x64/Debug/net10.0
/SparseNeuralNetworkInferenceEngine.General.Tests/bin
/SparseNeuralNetworkInferenceEngine.General.Tests/obj
/SparseNeuralNetworkInferenceEngine.HardwareAcceleration/bin/x64/Debug/net10.0
/SparseNeuralNetworkInferenceEninge.Engine.Tests/bin/x64/Debug/net10.0
/Math.Tensor/bin/x64/Debug/net10.0
/SparseNeuralNetworkInferenceEngine.Math/bin/Debug/net10.0
/SparseNeuralNetworkInferenceEngine.Math/obj
/SparseNeuralNetworkInferenceEngine.Model/bin/Debug/net10.0
/SparseNeuralNetworkInferenceEngine.Model/obj
/SparseNeuralNetworkInferenceEngine.Model.Tests/bin/Debug/net10.0
/SparseNeuralNetworkInferenceEngine.Model.Tests/obj
/SparseNeuralNetworkInferenceEngine.Example.MNISTWebserver/bin/Debug/net10.0
/SparseNeuralNetworkInferenceEngine.Example.MNISTWebserver/obj
/SparseNeuralNetworkInferenceEngine.Benchmarks/bin
/SparseNeuralNetworkInferenceEngine.Benchmarks/obj
/SparseNeuralNetworkInferenceEngine.Engine/bin/x64/Release/net10.0
/SparseNeuralNetworkInferenceEngine.Example.MNISTWebserver/bin/Release/net10.0
/SparseNeuralNetworkInferenceEngine.General/bin/x64/Release/net10.0
/SparseNeuralNetworkInferenceEngine.HardwareAcceleration/bin/x64/Release/net10.0
/SparseNeuralNetworkInferenceEngine.Math/bin/Release/net10.0
/SparseNeuralNetworkInferenceEngine.Math.Tensor/bin
/SparseNeuralNetworkInferenceEngine.Math.Tensor/obj
/SparseNeuralNetworkInferenceEngine.Math.Tensor.Tests/bin
/SparseNeuralNetworkInferenceEngine.Math.Tensor.Tests/obj
/SparseNeuralNetworkInferenceEngine.Model/bin/Release/net10.0
/SparseNeuralNetworkInferenceEngine.Model.Tests/bin/Release/net10.0
/SparseNeuralNetworkInferenceEninge.Engine.Tests/bin/x64/Release/net10.0/cs
/SparseNeuralNetworkInferenceEninge.Engine.Tests/bin/x64/Release/net10.0/de
/SparseNeuralNetworkInferenceEninge.Engine.Tests/bin/x64/Release/net10.0
/SparseNeuralNetworkInferenceEngine/bin/x64/Release/net10.0
/SparseNeuralNetworkInferenceEninge.Engine.Tests/bin/Release/net10.0
/SparseNeuralNetworkInferenceEngine.HardwareAcceleration/bin/Release/net10.0
/SparseNeuralNetworkInferenceEngine.Engine/bin/Release/net10.0
/SparseNeuralNetworkInferenceEngine.General/bin/Release/net10.0
/SparseNeuralNetworkInferenceEngine/bin/Release/net10.0
